<ion-view view-title="Accounts">
    <ion-content>
        <div class="list">
            <a ng-click="showLogin()" class="item item-button-right">
                Add Account
                <span class="button button-balanced">
                    <i class="icon ion-plus"></i>
                </span>
            </a>
            <!-- Location ngRepeat goes here -->
            <div class="item item-divider"></div>
            <div class="item item-button-right"
                 ng-class="{'item-selected': account.userName === currentUsername}"
                 ng-click="accountSelected(account)"
                 ng-repeat="account in accounts | orderBy: 'userName'">
                {{account.userName}}
                <button class="button button-clear button-dark"
                        ng-click="removeAccount(account)"
                        ng-disabled="account.userName === currentUsername">
                    <i class="icon ion-log-out"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

