<ion-view>
    <ion-nav-title>{{device.name}}</ion-nav-title>
    <ion-content>

        <div class="list card">
            <div class="item item-text-wrap">
                <a ui-sref="app.edit-device({deviceId: device.id})" class="pull-right">
                    <span class="button button-positive button-small">
                        <i class="icon ion-edit"></i>
                    </span>
                </a>
                <!--<a class="delete-link text-danger" data-toggle="modal" data-target="#deleteDeviceModal">
                    <small><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</small>
                </a>-->

                <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd>
                        <div ng-if="device.deviceStatus === 1">
                            Active
                            <small class="help-block"><em>
                              The Brewskey Box is currently in the standard
                              mode.  If you have a valve it will be closed and
                              the sensors will track pours normally.</em>
                            </small>
                        </div>
                        <div ng-if="device.deviceStatus === 2">
                            Disabled
                            <small class="help-block"><em>Your Brewskey Box is disabled. The valve will not open and pours will not be tracked.</em></small>
                        </div>
                        <div ng-if="device.deviceStatus === 3">
                            Cleaning
                            <small class="help-block"><em>Your Brewskey Box is in cleaning mode.<br/>After an hour the box will be put into
                            "disabled" mode.</em></small>
                        </div>
                        <div ng-if="device.deviceStatus === 4">
                            Unlocked
                            <small class="help-block"><em>Your Brewskey box will open the valve and allow users to pour without authentication.</em></small>
                        </div>
                        <div ng-if="device.deviceStatus === 5">
                            Configure Expansion Boxes
                            <small class="help-block"><em>Set up your expansion boxes. Follow the instructions on your Brewskey box to complete the configuration. When finished, the device will reset in "Active" mode.</em></small>
                        </div>
                    </dd>
                    <dt>Box Id:</dt>
                    <dd><small>{{device.particleId}}</small></dd>
                    <dt>Token:</dt>
                    <dd class="clearfix">
                        <div>
                            <div>
                                <div><small>{{device.clientSecret}}</small></div>
                                <button class="button button-small button-stable" ng-click="resetToken()" ng-disabled="resettingToken">Reset Token</button>
                            </div>
                            <small class="help-block"><em>The access token used by your device for connecting to the Brewskey API.</em></small>
                        </div>
                    </dd>
                    <dt>Status:</dt>
                    <dd ng-if="particleStatus">
                        <div class="connectionStatus" ng-class="{'deviceConnected': particleStatus.connected}">
                            <span ng-if="!particleStatus.connected">
                                Device is disconnected
                            </span>
                            <span ng-if="particleStatus.connected">Connected</span>
                        </div>
                        <small ng-if="!particleStatus.connected" class="help-block"><em>Check that your device is powered on and connected to WiFi</em></small>
                    </dd>
                </dl>
                <div class="text-right clearfix">
                    <small>
                        <em>
                            Last edited by <strong ng-bind="device.lastEditedByUserName"></strong>
                            <time ng-bind="timeAgo(pour.lastPourDate)"></time>
                        </em>
                    </small>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item no-color no-padding">
                <a ui-sref="app.new-tap({deviceId: device.id})" class="item item-button-right" ng-if="taps.length < 32">
                    New Tap
                    <span class="button button-positive">
                        <i class="icon ion-plus"></i>
                    </span>
                </a>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider"></div>
                <div class="item text-center" ng-show="loading">
                    <ion-spinner></ion-spinner>
                </div>
                <div ng-show="!loading">
                    <a ng-repeat="tap in taps | orderBy: 'name'" ui-sref="app.tap.info({tapId: tap.id})" class="item" ng-class="{'item-avatar': tap.currentKeg.beverage.id && tap.loaded}" on-hold="onTapHeld(tap)">
                        <img brewskey-img id="tap.currentKeg.beverage.id" size="s" type="beverage" width="40" loaded="tap.loaded"/>
                        <h2><strong>{{$index+1}}</strong> {{tap.currentKeg ? tap.currentKeg.beverage.name : "Nothing on tap!"}}</h2>
                        <p>{{tap.summary}}</p>
                        <span class="badge badge-positive" ng-if="tap.currentKeg">
                            {{getPercentLeft(tap.currentKeg) | number : 1}}%
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
