<ion-view view-title="Brewskey Boxes">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
        </ion-refresher>
        <div class="list">
            <div class="item no-color">
                <a ui-sref="app.setup-wifi" class="item item-icon-left">
                    <i class="icon ion-wifi"></i>
                    Setup Brewskey box Wifi
                </a>
                <a ui-sref="app.setup-wifi({isCreatingNewDevice: true})" class="item item-icon-left">
                    <i class="icon ion-plus"></i>
                    New Brewskey box
                </a>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider"></div>
                <div class="item text-center" ng-show="loading">
                    <ion-spinner></ion-spinner>
                </div>
                <div ng-show="!loading">
                    <a ng-repeat="device in devices | orderBy: 'name'" ui-sref="app.device({deviceId: device.id})" class="item">
                        {{device.name}}
                    </a>
                    <div ng-if="!devices || !devices.length" class="item text-center item-text-wrap">
                        You haven't added any Brewskey boxes yet.<br/>Click the "+" to add one.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
