<ion-view>
    <ion-nav-title>{{device.name}}</ion-nav-title>
    <ion-content>
        <div class="list card">
            <div class="item item-text-wrap">
                <a ui-sref="app.edit-device({deviceId: device.id})" class="pull-right">
                    <span class="button button-positive button-small">
                        <i class="icon ion-edit"></i>
                    </span>
                </a>
                <!--<a class="delete-link text-danger" data-toggle="modal" data-target="#deleteDeviceModal">
                    <small><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</small>
                </a>-->

                <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd>
                        <div ng-if="device.deviceStatus === 0">
                            Unlocked
                            <small class="help-block"><em>Your device is currently unlocked and may be transferred to another account.</em></small>
                        </div>
                        <div ng-if="device.deviceStatus === 1">
                            Active
                            <small class="help-block"><em>Your device is currently active and can pour beers.</em></small>
                        </div>
                        <div ng-if="device.deviceStatus === 2">
                            Disabled
                            <small class="help-block"><em>Your device is currently inactive and cannot pour beers.</em></small>
                        </div>
                    </dd>
                    <dt>Box Id:</dt>
                    <dd><small>{{device.particleId}}</small></dd>
                    <dt>Token:</dt>
                    <dd class="clearfix">
                        <div>
                            <div>
                                <div><small>{{device.clientSecret}}</small></div>
                                <button class="button button-small button-stable" ng-click="resetToken()" ng-disabled="resettingToken">Reset Token</button>
                            </div>
                            <small class="help-block"><em>The access token used by your device for connecting to the Brewskey API.</em></small>
                        </div>
                    </dd>
                    <dt>Status:</dt>
                    <dd ng-if="particleStatus">
                        <div class="connectionStatus" ng-class="{'deviceConnected': particleStatus.connected}">
                            <span ng-if="!particleStatus.connected">
                                Device is disconnected
                            </span>
                            <span ng-if="particleStatus.connected">Connected</span>
                        </div>
                        <small ng-if="!particleStatus.connected" class="help-block"><em>Check that your device is powered on and connected to WiFi</em></small>
                    </dd>
                </dl>
                <div class="text-right clearfix">
                    <small>
                        <em>
                            Last edited by <strong ng-bind="device.lastEditedByUserName"></strong>
                            <time ng-bind="timeAgo(pour.lastPourDate)"></time>
                        </em>
                    </small>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item no-color">
                <a ui-sref="app.new-tap" class="item item-button-right">
                    New Tap
                    <span class="button button-positive">
                        <i class="icon ion-plus"></i>
                    </span>
                </a>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider"></div>
                <div class="item text-center" ng-show="loading">
                    <ion-spinner></ion-spinner>
                </div>
                <div ng-show="!loading">
                    <a ng-repeat="tap in taps | orderBy: 'name'" ui-sref="app.tap.info({tapId: tap.id})" class="item item-avatar">
                        <img ng-src="{{tap.currentKeg.beerIcon}}" ng-if="tap.currentKeg && tap.currentKeg.beerIcon">
                        <h2>{{tap.name}}</h2>
                        <p>{{tap.summary}}</p>
                        <span class="badge badge-positive" ng-if="tap.currentKeg">
                            {{getPercentLeft(tap.currentKeg) | number : 1}}%
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
