<ion-view view-title="Register" class="beer-background">
  <ion-content>
      <form name="forgotPasswordForm" ng-submit="forgotPassword()" style="margin-top: 120px; background: #fff;">
          <div class="list">
              <p class="help-text item item-text-wrap text-center">
                  Enter your email address and we'll send a password reset email to your address.
              </p>
              <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                  <div class="form-errors" data-ng-show="forgotPasswordForm.$submitted">
                      <div class="form-error" ng-bind="errors.generic"></div>
                  </div>
              </div>
              <label class="item item-input" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid || errors['model.Email']}">
                  <span class="input-label">Email</span>
                  <input type="email" ng-model="model.email">
              </label>
              <label class="item">
                  <button class="button button-block button-positive" type="submit" ng-disabled="!model.email || sending">Request Password Reset</button>
              </label>
          </div>
      </form>
  </ion-content>
</ion-view>
