<ion-view view-title="Friend Requests">
    <ion-content class="has-header">
        <div class="list">
            <div class="item no-color" ng-show="requests.length">
                <div ng-repeat="request in requests | orderBy: 'name'" class="item" ui-sref="app.profile({userName: request.userName})">
                    <img class="default-profile-small leaderboard-profile-pic pull-left"
                         ng-src="https://brewskey.com/cdn/photos/{{request.userName}}.jpg?w=50&h=50&mode=crop"
                        />
                    <div class="friend-item-info clearfix">
                        <h2>
                            <strong>{{request.userName}}</strong>
                        </h2>
                        <div class="pull-right">
                            <a class="button button-small button-positive" ng-click="acceptFriend(request)">Accept</a>
                            <a class="button button-small button-light" ng-click="denyFriend(request)">Not Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item no-color" ng-if="!requests.length">
                <div class="item text-center item-text-wrap">
                    <h2 style="font-size: 20px;">
                        <strong>
                            You don't have any friend requests
                        </strong>
                    </h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
