<ion-view view-title="Friends">
  <div class="bar bar-subheader bar-brewskey">
    <button class="button icon-left ion-plus pull-right" ng-click="onAddFriend()">Add Friend</button>
  </div>

    <ion-content class="has-header" style="margin-top: 40px;">
        <div class="list">
          <div class="item text-center" ng-show="loading">
              <ion-spinner></ion-spinner>
          </div>
            <div class="item no-color" ng-if="friends.length">
                <a ng-repeat="friend in friends | orderBy: 'name'" class="item" ui-sref="app.profile({userName: friend.userName})">
                   <img
                     brewskey-img
                     class="default-profile-small leaderboard-profile-pic pull-left"
                     id="friend.userName"
                     type="photo"
                     height="50"
                     width="50"
                     load-fail="img/blank-profile-40.png" />
                    <div class="friend-item-info clearfix">
                        <h2>
                            <strong>{{friend.userName}}</strong>
                        </h2>
                    </div>
                </a>
            </div>
            <div class="item no-color item-text-wrap" ng-if="!friends.length && !loading">
                <div class="item text-center">
                    <h2 style="font-size: 20px;">
                        <strong>
                            You don't have any friends on Brewskey
                        </strong>
                    </h2>
                    <br />
                    <h2>
                        <strong>
                            Visit someone's profile to add them!
                        </strong>
                    </h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
