<ion-view view-title="Contacts">
    <ion-content class="has-header">
        <div class="list">
            <div class="item no-color" ng-if="contacts.length">
                <div ng-repeat="contact in contacts" class="item">
                    <h2 class="pull-left">
                        <strong>{{contact.displayName}}</strong>
                    </h2>
                    <div class="pull-right" ng-if="!contact.hasRequested && contactsLoaded">
                        <a class="button button-small button-positive" ng-click="addFriend(contact, $index)" ng-if="contact.found">Add Friend</a>
                        <a class="button button-small button-positive" ng-click="invite(contact, $index)" ng-if="!contact.found">Invite To Brewskey</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view> 