<ion-view view-title="Friends">
    <div ng-if="loaded">
        <ion-nav-view name="tab-view"></ion-nav-view>
    </div>
    <ion-tabs class="tabs-icon-top tabs-color-light tabs-background-brewskey">
        <ion-tab title="Friends" icon="ion-person" ui-sref="app.friends.list">
            <ion-nav-view name="friends-list-view"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Requests" icon="ion-android-person-add" ui-sref="app.friends.requests" badge="getRequests(false).length" badge-style="badge-assertive">
            <ion-nav-view name="requests-list-view"></ion-nav-view>
        </ion-tab>

        <!-- <ion-tab title="Contacts" icon="ion-ios-book" ui-sref="app.friends.contacts">
            <ion-nav-view name="contacts-list-view"></ion-nav-view>
        </ion-tab> -->
    </ion-tabs>
</ion-view>
