<ion-view view-title="Home">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-repeat="pourEvent in pourEvents">
                <a ui-sref="app.profile({userName: pourEvent.userName})" class="item clearfix">
                    <img class="default-profile-small leaderboard-profile-pic pull-left"
                         ng-src="https://tappt.io/cdn/photos/{{pourEvent.userName}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                         load-fail="img/blank-profile-40.png" />
                    <div class="home-story-info">
                        <h2 class="profile-link"><strong>{{pourEvent.userName}}</strong></h2>
                        <p>
                            <small>{{pourEvent.pourDate | amDateFormat:'MMMM Do YYYY'}}</small>
                        </p>
                    </div>
                </a>
                <a ui-sref="app.tap.leaderboard({tapId: pourEvent.tapId})" class="item item-text-wrap clearfix">
                    <div>
                        {{translateToOunces(pourEvent.pulses)}} oz of <em>{{pourEvent.beerName}}</em>
                        with {{pourEvent.pourCount}} pours on <strong>{{pourEvent.tapName}}</strong>
                    </div>
                    <div class="clearfix">
                        <pint-list count="pourEvent.pulses" class="pint-list" />
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
