<ion-view view-title="Home">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-repeat="pourEvent in pourEvents">
                <div class="item clearfix">
                    <a ui-sref="app.profile({userName: pourEvent.userName})" class="pull-left">
                        <img class="default-profile-small leaderboard-profile-pic"
                             ng-src="https://tappt.io/cdn/photos/{{pourEvent.userName}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                             load-fail="img/blank-profile-40.png" />
                    </a>
                    <div class="home-story-info">
                        <h2 class="profile-link"><strong><a ui-sref="app.profile({userName: pourEvent.userName})">{{pourEvent.userName}} </a></strong></h2>
                        <p>
                            <small>{{pourEvent.pourDate | amDateFormat:'MMMM Do YYYY'}}</small>
                        </p>
                    </div>
                </div>
                <div class="item item-text-wrap clearfix">
                    <div>
                        <strong><a ui-sref="app.tap.leaderboard({tapId: pourEvent.tapId})">{{pourEvent.tapName}}</a></strong>&nbsp;&mdash;&nbsp;{{translateToOunces(pourEvent.pulses)}} oz of <em>{{pourEvent.beerName}}</em>
                        with {{pourEvent.pourCount}} pours
                    </div>
                    <div class="pull-left">
                        <pint-list count="pourEvent.pulses" class="pint-list"/>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
