<ion-view view-title="Tappt">
  <ion-content>
	
    
    <div class="list card">

    	<div class="item">
			<h1>
				<span ng-bind="location.name"></span>
				<a href="#/app/location/{{location.id}}/edit" style="float:right;" ng-if="canEdit" ng-cloak>
					<span class="button button-positive">
					  <i class="icon ion-edit"></i>
					</span>
				</a>
			</h1>
			<p ng-bind="location.summary"></p>
		</div>
    	<div class="item item-body">
    		<div class="card">
				<div class="item item-text-wrap">
    				<span ng-bind="location.street"></span>&nbsp;<span ng-bind="location.suite"></span>
    				<br/>
    				<span ng-bind="location.city"></span>&nbsp;<span ng-bind="location.state"></span>,&nbsp;<span ng-bind="location.zipCode">
				</div>
			</div>
    		<div>
    		</div>
			<p ng-bind="location.description"></p>
		</div>
    	<div class="item item-body">
    		<div>On Tap</div>
			 <div class="list card">
				<a href="#/app/tap/new/{{location.id}}" class="item item-button-right" ng-if="canEdit">
					New Tap
					<span class="button button-positive">
					  <i class="icon ion-plus"></i>
					</span>
				</a>

				<!-- Location ngRepeat goes here -->
		  		<div class="item item-divider" ng-if="canEdit && location.taps.length"></div>
		  		<a ng-repeat="tap in location.taps | orderBy: 'name'" href="#/app/tap/{{tap.id}}" class="item">
					{{tap.name}}
				</a>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
