<ion-view view-title="{{ location.name }}">
  <ion-pane>
  <div
    class="padding text-center"
    style="margin-top: 60px"
    ng-if="!location && !hasError"
  >
    <ion-spinner></ion-spinner>
  </div>
  <div ng-if="location && !hasError">
    <ion-nav-view name="tab-view"></ion-nav-view>
  </div>
  <div
    class="tabs tabs-icon-top tabs-color-light tabs-background-brewskey"
    ng-if="location && !hasError"
  >
    <a
      class="tab-item"
      ng-click="tabClicked()"
      ui-sref-active="active"
      ui-sref-opts="{location:'replace'}"
      ui-sref="app.location.info"
    >
      <i class="icon ion-information"></i>
      Info
    </a>
    <!--
    <a
      class="tab-item"
      ng-click="tabClicked()"
      ui-sref-active="active"
      ui-sref-opts="{location:'replace'}"
      ui-sref="app.location.schedules({locationId: location.id})"
    >
      <i class="icon ion-clock"></i>
      Scheduels
    </a>-->
    <a
      class="tab-item"
      ng-click="tabClicked()"
      ui-sref-active="active"
      ui-sref-opts="{location:'replace'}"
      ui-sref="app.location.edit({locationId: location.id})"
      ng-if="canEdit"
    >
      <i class="icon ion-edit"></i>
      Edit
    </a>
  </div>
  </ion-pane>
</ion-view>
