<ion-view>
  <ion-nav-title>Info - {{ location.name }}</ion-nav-title>
  <ion-content class="has-tabs">
    <div class="list card">
      <h1 class="text-center">{{ location.name }}</h1>
      <p class="text-center">{{ location.summary }}</p>
      <div class="item">
        <div><strong>State: </strong>{{ location.state }}</div>
        <div><strong>City: </strong>{{ location.city }}</div>
        <div><strong>Street: </strong>{{ location.street }}</div>
        <div><strong>Suite: </strong>{{ location.suite }}</div>
        <div><strong>Zip code: </strong>{{ location.zipCode }}</div>
      </div>
      <div class="item" ng-if="location.description">
        <div class="text-center"><strong>Description</strong></div>
        <p>{{ location.description }}</p>
      </div>
      <div class="item" ng-if="location.taps.length">
        <div class="text-center"><strong>Taps</strong></div>
        <div
          class="list card"
          style="margin-left: 0; margin-right: 0;"
        >
        
        	<!--<a
            class="item item-button-right"
            ng-if="canEdit"
            ui-sref="app.new-tap({locationId: location.id})"
          >
					  New Tap
  					<span class="button button-positive">
  					  <i class="icon ion-plus"></i>
  					</span>
          </a>-->
          <a
            class="item item-avatar"
            ng-repeat="tap in location.taps | orderBy: 'name'"
            ui-sref="app.tap.stats({tapId: tap.id})"
          >
            <img
              brewskey-img
              id="tap.beverageId"
              loaded="tap.loaded"
              size="s"
              type="beverage"
              width="40"
            />
            <h2>{{ tap.name }}</h2>
            <p>{{ tap.summary }}</p>
            <span class="badge badge-positive" ng-if="tap.maxOunces">
              {{ getPercentLeft(tap) | number : 1 }}%
            </span>
				  </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
