<ion-view view-title="Login" class="beer-background">
    <ion-content>
        <div class="text-center" style="padding: 10px 40px;">
            <img src="img/login-splash.png" class="img-responsive" style="width: 100%;" />
        </div>
        <div class="item no-color" ng-show="!showLoginForm">
          <button class="button button-block fb-button" type="button" ng-click="oauthLogin('Facebook')">Login with Facebook</button>
          <hr style="margin: 20px 0"/>
          <button class="button button-block brewskey-button" type="button" ng-click="showLoginForm = true">Username + Password</button>
        </div>
        <form name="loginForm" ng-submit="doLogin()" novalidate="novalidate" style="background: #fff;" ng-show="showLoginForm">
            <div class="list">
                <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                    <div class="form-errors" data-ng-show="loginForm.$submitted">
                        <div class="form-error" ng-bind="errors.generic"></div>
                    </div>
                </div>
                <label class="item item-input" ng-class="{ 'has-error' : loginForm.userName.$invalid || errors['model.UserName']}">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.userName" autocorrect="off" autocapitalize="off" spellcheck="false">
                </label>
                <div class="form-errors" data-ng-repeat="error in errors['model.Username']" data-ng-show="loginForm.$submitted" data-ng-cloak>
                    <div class="form-error" ng-bind="error"></div>
                </div>
                <label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid || errors['model.Password']}">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <div class="form-errors" data-ng-repeat="error in errors['model.Password']" data-ng-show="loginForm.$submitted" data-ng-cloak>
                    <div class="form-error" ng-bind="error"></div>
                </div>
                <div class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="!loginData.userName || !loginData.password || loggingIn">Log in</button>
                    <!--<a ui-sref="app.login-number" class="button button-block button-balanced">Log in with your phone number</a>-->
                    <a ui-sref="app.register" class="button button-block button-light button-small">Register</a>
                    <a ui-sref="app.forgot-password" class="button button-block button-light button-small">Forgot Password</a>
                    <button type="button" class="button button-block button-light button-small" ng-click="showLoginForm = false">Back</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
