<ion-view view-title="Login" class="beer-background">
    <ion-content>
        <div class="text-center" style="padding: 10px 40px;">
            <img src="img/login-splash.png" class="img-responsive" style="width: 100%;" />
        </div>
        <form name="smsForm" ng-submit="sendText()" novalidate="novalidate" style="background: #fff;" ng-if="!showTotp">
            <div class="list">
                <div class="item no-padding item-text-wrap text-center" ng-if="errorDescription" ng-cloak>
                    <div class="form-errors" data-ng-show="smsForm.$submitted">
                        <div class="form-error" ng-bind="errorDescription"></div>
                    </div>
                </div>
                <div class="item text-center">
                    Please enter your phone number to log in:
                </div>
                <label class="item item-input" ng-class="{ 'has-error' : smsForm.phoneNumber.$invalid || errors['model.PhoneNumber']}">
                    <input type="tel" ng-model="loginData.phoneNumber" placeholder="555-867-5309" ng-required class="text-center">
                </label>
                <div class="form-errors" data-ng-repeat="error in errors['model.PhoneNumber']" data-ng-show="smsForm.$submitted" data-ng-cloak>
                    <div class="form-error" ng-bind="error"></div>
                </div>
                <div class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="!loginData.phoneNumber || sendingSMS">Continue</button>
                </div>
            </div>
        </form>
        <form name="totpForm" ng-submit="sendTotp()" novalidate="novalidate" style="background: #fff;" ng-if="showTotp">
            foobar
        </form>
    </ion-content>
</ion-view>
