<ion-view view-title="Login" class="beer-background">
  <ion-content>
    <div class="text-center" style="padding: 10px 40px;">
      <img src="img/login-splash.png" class="img-responsive" style="width: 100%;" />
    </div>
    <form name="loginForm" ng-submit="doLogin()" novalidate="novalidate">
      <div class="form-errors" ng-if="errorDescription" data-ng-show="loginForm.$submitted" data-ng-cloak>
        <div class="form-error" ng-bind="errorDescription"></div>
      </div>
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.userName.$invalid || errors['model.UserName']}">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.userName" autocorrect="off" autocapitalize="off" spellcheck="false">
        </label>
        <div class="form-errors" data-ng-repeat="error in errors['model.Username']" data-ng-show="loginForm.$submitted" data-ng-cloak>
          <div class="form-error" ng-bind="error"></div>
        </div>
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid || errors['model.Password']}">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <div class="form-errors" data-ng-repeat="error in errors['model.Password']" data-ng-show="loginForm.$submitted" data-ng-cloak>
          <div class="form-error" ng-bind="error"></div>
        </div>
        <div class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="!loginData.userName || !loginData.password || loggingIn">Log in</button>
          <a href="#" class="button button-block button-light" ui-sref="app.register">Register</a>

        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
