<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-brewskey">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-if="isLoggedIn()"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="start-pour-button" ng-if="isLoggedIn()" ng-class="{'hide-on-ios': !deviceId }" ng-click="showPopup()" type="button">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="brewskey-light-bg">
        <ion-header-bar class="menu-bar text-center">
            <img src="img/logo-white.png" class="menu-bar-logo"/>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.home">
                    Home
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.profile({userName: userName})">
                    My Profile
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends.list()" class="item">
                    <span ng-if="friendRequestCount" class="badge badge-positive">{{friendRequestCount}}</span>
                    Friends
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/accounts" ng-if="settings.multiAuth">
                    Accounts
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.devices" ng-if="settings.manageLocations">
                    My Brewskey Boxes
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.locations" ng-if="settings.manageLocations">
                    My Locations
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.taps" ng-if="settings.manageLocations">
                    My Taps
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.homebrew" ng-if="settings.manageLocations">
                    Homebrew
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/write-tags" ng-if="settings.manageLocations">
                    Write Tags
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    Settings
                </ion-item>
                <ion-item nav-clear menu-close href="#" ng-click="logout()">
                    Log out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
