<form ng-submit="submitForm()" class="form-horizontal" novalidate>   
    <div class="list list-inset list-colored">
        <a class="item" ng-if="!model.id" ng-click="openModal()">
            Pick a beer
        </a>
        <a class="item item-avatar" ng-if="model.id" ng-click="openModal()">
            <img ng-src="{{model.beerIcon}}" ng-if="model.beerIcon">
            <h2>{{model.beerName}}</h2>
            <p>Click to change the beer.</p>
        </a>
        <label class="item item-input item-select">
            <div class="input-label">
                Keg Type
            </div>
            <select ng-change="onKegTypeChange()"
                    data-ng-model="model.kegType"
                    data-ng-options="key as value for (key, value) in kegTypes"
                    required="required">
                <option>Select Keg Size</option>
            </select>
        </label>
        <div class="item">
            <button class="button button-full button-balanced no-margin" ng-click="submit(true)" ng-cloak ng-disabled="!model.pulses">
                <span ng-if="model.id">Replace Current Keg</span>
                <span ng-if="!model.id">Set Current Keg</span>
            </button>
            <button class="button button-full button-stable no-margin" ng-click="submit(false)" ng-if="model.id" ng-cloak ng-disabled="!model.changed">
                Update Current Keg
            </button>
        </div>
    </div>
</form>