<ion-view view-title="Nearby Locations">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNearbyLocations()">
        </ion-refresher>
        <div class="padding text-center" ng-show="loading">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <div ng-repeat="location in locations" class="item">
                {{location.name}}
                <p ng-bind="location.summary"></p>
                <br/>
                <div>
                    <a ng-repeat="tap in location.taps | orderBy: 'name'" ui-sref="app.tap.info({tapId: tap.id})" class="item item-avatar item-text-wrap  item-button-right">
                        <img ng-src="{{tap.currentKeg.beerIcon}}" ng-if="tap.currentKeg.beerIcon">
                        <h2>{{tap.name}}</h2>
                        <p>
                            <em ng-bind="tap.currentKeg.beerName"></em> on tap
                        </p>
                        <button class="button button-light" ng-click="showPopup(tap.deviceId)">
                            Pour
                        </button>
                    </a>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
