<ion-view view-title="Nearby">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNearbyLocations()">
        </ion-refresher>
        <div class="padding text-center" ng-show="loading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="list" ng-if="locationDisabled && !loading">
            <div class="item item-text-wrap text-center">
                <strong>You must allow locations for<br/>Brewskey to find nearby taps!</strong>
            </div>
        </div>
        <ion-list ng-if="!locationDisabled && !loading">
            <div class="item item-text-wrap text-center" ng-if="!locations.length">
                Sorry, there aren't any nearby taps that you have access to.<br /><br />Either have the
                tap owner grant you access or walk closer to the tap.
            </div>
            <div ng-repeat="location in locations" class="item" ng-if="locations.length">
                {{location.name}}
                <p ng-bind="location.summary"></p>
                <br/>
                <div>
                  <a ng-repeat="tap in location.taps" ui-sref="app.tap.info({tapId: tap.id})" class="item item-text-wrap item-button-right" ng-class="{'item-avatar': tap.loaded}">
                    <img brewskey-img id="tap.currentKeg.beverageId" size="s" type="beverage" width="40" loaded="tap.loaded"/>
                    <h2>{{tap.name}}</h2>
                    <p ng-if="tap.currentKeg.beerName">
                        <em ng-bind="tap.currentKeg.beerName"></em> on tap
                    </p>
                    <button class="button button-light" ng-click="showPopup(tap.deviceId)">
                        Pour
                    </button>
                  </a>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
