<script id="find-beer.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      	<h1 class="title">Find Beer</h1>
      	<button class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></button>
    </ion-header-bar>
    <ion-content>
    	<form class="list list-inset" ng-submit="search()">
	      	<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="searchModel.query" required>
			</label>
      	</form>
    	<div class="list list-inset">
    		<a class="item item-avatar" href="#" ng-repeat="beer in beers" ng-click="selectBeer(beer)">
		      <img ng-src="{{beer.labels.icon}}" ng-if="beer.labels.icon">
		      <h2>{{beer.name}}</h2>
		      <p>{{beer.description}}</p>
		    </a>
    	</div>
    </ion-content>
  </ion-modal-view>
</script>

<ion-view view-title="Tappt">
  <ion-content>
    <form name="form" ng-submit="submitForm()">
      <div class="list">
		<div class="item">
			<h1 ng-if="!model.id">New Keg</h1>
    		<h1 ng-if="model.id">Edit Keg</h1>
		</div>
		<div class="form-errors" ng-if="errorDescription" data-ng-cloak>
			<div class="form-error" ng-bind="errorDescription"></div>
		</div>
        <div class="list list-inset">
	        <a href="#" class="item item-button-right" ng-click="openModal()">
				<span ng-if="!model.beerId">Find beer</span>
				<strong ng-if="model.beerId" ng-bind="beer.name"></strong>
			</a> 
	        <label class="item item-input item-select-full">
				<select ng-model="model.kegType" required ng-class="{ 'invalid' : !model.kegType }">
					<option value="" selected="selected" disabled class="default-value">Keg Type</option>
					<option value="5">Half Barrel Keg</option>
					<option value="4">Slim Quarter Keg</option>
					<option value="3">Quarter Barrel Keg</option>
					<option value="2">Sixth Barrel Keg</option>
					<option value="1">Cornelius Keg</option>
					<option value="0">Mini Keg</option>
				</select>
    		</label> 
		</div>
		<div class="item item-divider">
			<div class="list card" ng-if="beer">
				<div class="item item-header center-text">
				    <img ng-src="{{beer.labels.medium}}" ng-if="beer.labels.icon">
				</div>
		    	<div class="item item-body row center-text">
					<div class="col" ng-if="beer.abv">
						<strong>ABV</strong><br/><span>{{beer.abv}}%</span>
					</div>
					<div class="col" ng-if="beer.ibu">
						<strong>IBU</strong><br/><span ng-if="beer.ibu">{{beer.ibu}}</span>
					</div>
					<div class="col" ng-if="beer.srm">
						<strong>SRM</strong><br/><span>{{beer.srm.name}}</span>
					</div>
					<div class="col" ng-if="beer.originalGravity">
						<strong>OG</strong><br/><span ng-if="beer.originalGravity">{{beer.originalGravity}}</span>
					</div>
				</div>
				<div class="item item-body">
					<div class="row">
	  					<div class="col"><strong>Name:</strong></div>
						<div class="col col-75">{{beer.name}}</div>
					</div>
					<!--<div class="row">
	  					<div class="col"><strong>Brewed By:</strong></div>
						<div class="col col-75"></div>
					</div>-->
					<div class="row">
	  					<div class="col"><strong>Style:</strong></div>
						<div class="col col-75">
							<span>{{beer.style.name}}</span><br/>
							<!--<p class="help-text">{{beer.style.description}}</p>-->
						</div>
					</div>
					<div class="row">
	  					<div class="col"><strong>Availability:</strong></div>
						<div class="col col-75">{{beer.available.name}}</div>
					</div>
					<div class="row" ng-if="beer.servingTemperatureDisplay">
	  					<div class="col"><strong>Serving Temperature:</strong></div>
						<div class="col col-75">{{beer.servingTemperatureDisplay}}</div>
					</div>

					<div class="row">
	  					<div class="col"><strong>Is Organic:</strong></div>
						<div class="col col-75">
							<span ng-if="beer.isOrganic !== 'N'">Yes</span>
							<span ng-if="beer.isOrganic === 'N'">No</span>
						</div>
					</div>
					<div class="row">
	  					<div class="col"><strong>Serve In:</strong></div>
						<div class="col col-75">{{beer.glass.name}}</div>
					</div>
				</div>
				<div class="item item-body">
					{{beer.description}}
				</div>
			</div>
		</div>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="form.$invalid">
          	<span ng-if="!model.id">Create Keg</span>
          	<span ng-if="model.id">Update Keg</span>
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
