<ion-view view-title="Brewskey">
    <ion-nav-title>{{!model.id ? "New Brewskey Box" : "Edit Brewskey Box"}}</ion-nav-title>
    <ion-content ng-controller="NewDeviceCtrl">
        <form name="form" ng-submit="submitForm()" novalidate>
            <div class="list">
                <div class="form-errors" ng-if="errorDescription" data-ng-cloak>
                    <div class="form-error" ng-bind="errorDescription"></div>
                </div>
                <div class="list list-inset">
                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Name']}">
                        <input type="text" ng-model="model.name" placeholder="Name" required>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Name']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Status
                        </span>
                        <select ng-model="statusModel" required ng-options="obj.text for obj in deviceStatusTypes track by obj.value"></select>
                    </label>
                    <p ng-if="statusModel.value == 1" class="help-block item item-text-wrap text-center">
                        The Brewskey Box is currently in the standard mode.  If you have a valve it will be closed and the sensors will
                        track pours normally.
                    </p>
                    <p ng-if="statusModel.value == 2" class="help-block item item-text-wrap text-center">
                        Your Brewskey Box is disabled. The valve will not open and pours will not be tracked.
                    </p>
                    <p ng-if="statusModel.value == 3" class="help-block item item-text-wrap text-center">
                        Your Brewskey Box is in cleaning mode.<br/>After an hour the box will be put into
                        "disabled" mode.
                    </p>
                    <p ng-if="statusModel.value == 4" class="help-block item item-text-wrap text-center">
                        Your Brewskey box will open the valve and allow users to pour without authentication.
                    </p>
                    <div class="item">
                        <button class="button button-block button-positive" type="submit" ng-disabled="form.$invalid || disabled">
                            <span ng-if="!model.id">Create Brewskey Box</span>
                            <span ng-if="model.id">Update Brewskey Box</span>
                        </button>

                        <!--<button class="button button-block button-assertive button-small" type="button" ng-click="deleteDevice()" ng-disabled="!editing" ng-if="model.id && isAdmin">
                        Delete Device
                    </button>-->
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
