<ion-view view-title="{{pageTitle}}">
  <ion-content>
    <div class="padding text-center" ng-if="!isLoaded">
        <ion-spinner></ion-spinner>
    </div>
    <div class="list list-inset" ng-if="isLoaded">
      <form ng-submit="submitForm()">     
        <label class="item item-input">
          <input        
            ng-disabled="isDisabled"
            ng-model="model.name"
            placeholder="Schedule name"      
            type="text"
          >
        </label>
        <div class="item">
          <days-picker 
            days-combined-flag="model.days"
            is-disabled="isDisabled"
          ></days-picker> 
        </div>
        <div class="item">
          <div class="row text-center">  
            <div class="col no-padding">   
              <div><strong>from:</strong></div>
              <time-picker
                is-disabled="isDisabled"
                max-time="model.endTime"
                time="model.startTime" 
              ></time-picker>
            </div>
            <div class="col no-padding">
               <div><strong>to:</strong></div>
              <time-picker 
                is-disabled="isDisabled"
                min-time="model.startTime"
                time="model.endTime"
              ></time-picker>    
            </div>
          </div>  
        </div>
        <div class="item">   
          <account-picker              
            accounts="model.accounts"
            is-disabled="isDisabled"
          ></account-picker>
        </div>
        <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
          <div class="form-errors">
            <div class="form-error">{{ errors.generic }}</div>
          </div>
        </div> 
        <div class="item">
            <button 
              class="button button-block button-positive"
              ng-disabled="isDisabled || !model.name || !model.days"
              type="submit"     
            >
              <span ng-if="!model.id">Create Schedule</span>
              <span ng-if="model.id">Update Schedule</span>
            </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>