<ion-view view-title="Brewskey">
    <ion-nav-title>{{!model.id ? "New Tap" : "Edit Tap"}}</ion-nav-title>
    <ion-content class="has-tabs">
        <div class="padding text-center" style="margin-top: 20px" ng-if="!model">
            <ion-spinner></ion-spinner>
        </div>
        <form name="form" ng-submit="submitForm(form)" novalidate ng-if="model">
            <div class="list">
                <div class="list list-inset">
                    <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                        <div class="form-errors" data-ng-show="form.$submitted">
                            <div class="form-error" ng-bind="errors.generic"></div>
                        </div>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Name']}">
                        <input type="text" ng-model="model.name" placeholder="Name" required>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Name']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Description']}">
                        <textarea ng-model="model.description" placeholder="Short Description"></textarea>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Summary']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <!--
                    <label class="item item-input" ng-class="{ 'has-error' : form.friendlyName.$invalid || errors['model.Name']}">
                        <input type="text" ng-model="model.friendlyName" placeholder="Friendly Name" required>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.FriendlyName']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    -->
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Location
                        </span>
                        <select ng-model="model.locationId"
                                required
                                ng-options="obj.id as obj.name for obj in locations"></select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Brewskey Box
                        </span>
                        <select ng-model="model.deviceId"
                                required
                                ng-options="obj.id as obj.name for obj in devices"></select>
                    </label>

                    <div class="item item-toggle">
                        Hide Stats from Users
                        <label class="toggle">
                            <input type="checkbox" ng-model="model.hideStats">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>

                    <div class="item item-toggle">
                        Hide Leaderboard
                        <label class="toggle">
                            <input type="checkbox" ng-model="model.hideLeaderboard">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>

                    <div class="item item-toggle">
                        Disable Badges for pours
                        <label class="toggle">
                            <input type="checkbox" ng-model="model.disableBadges">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="item">
                        <button class="button button-block button-positive" type="submit" ng-disabled="!form.$dirty || form.$invalid || editing">
                            <span ng-if="!model.id">Create Tap</span>
                            <span ng-if="model.id">Update Tap</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <keg-modify tap-id="model.id" keg="model.currentKeg" ng-show="model.id"></keg-modify>
        <div class="list" ng-if="model && model.id">
            <div class="list list-inset">
                <div class="item item-text-wrap text-center">
                    <strong>Configure the flow sensor or change its type</strong>
                    <button class="button button-block button-stable" type="button" ng-click="updateSensor()" ng-disabled="editing">
                        Update Flow Sensor
                    </button>
                </div>
            </div>
        </div>
        <div class="list" ng-if="model && model.id">
            <div class="list list-inset">
                <div class="item item-text-wrap text-center">
                    <button class="button button-block button-assertive button-small" type="button" ng-click="deleteTap()" ng-disabled="editing" ng-if="model.id && isAdmin">
                        Delete Tap
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
