<ion-view view-title="Profile">
    <ion-content>
        <div class="list" ng-init="pours = getPours()">
            <div class="item sub-header">
                <h1 ng-bind="userName" class="text-center"></h1>
                <profile-photo user-name="userName"></profile-photo>
            </div>
            <div class="item no-color" ng-cloak ng-if="notFriends">
                <button type="button" class="button button-large button-full button-balanced" ng-click="addFriend()" ng-disabled="addFriendDisabled">
                    <i class="icon ion-android-person-add"></i> Add Friend
                </button>
            </div>
            <div class="item no-color" ng-cloak ng-if="achievements.length">
                <div class="item item-divider">
                    <strong>Achievements</strong>
                </div>
                <div class="item">
                    <ion-scroll zooming="false" direction="x" ng-if="!isWP8">
                        <img ng-repeat="item in achievements" ng-click="clickAchievement($index)" class="achievement achievement-small" ng-src="{{getImage(item)}}" />
                    </ion-scroll>
                    <div ng-if="isWP8" style="overflow-x: scroll">
                        <img ng-repeat="item in achievements" ng-click="clickAchievement($index)" class="achievement achievement-small" ng-src="{{getImage(item)}}" />
                    </div>
                </div>
            </div>
            <div class="item no-color" ng-if="profile.totalPints">
                <div class="item">
                    Total Pints &mdash; {{profile.totalPints}}
                </div>
            </div>
            <div class="item no-color" ng-if="profile.recentPours.length">
                <div class="item item-divider">
                    <strong>Recent Pours</strong>
                </div>
                <a ui-sref="app.tap.leaderboard({tapId: pour.tapId})" ng-repeat="pour in profile.recentPours" class="item item-avatar">
                    <img ng-src="{{pour.beerIcon}}">
                    <div class="item-text-wrap">
                        <div>
                            {{normalize(pour.ounces)}} oz of <em>{{pour.beerName}}</em> on {{pour.tapName}}
                            <!--at </a>me <!--at
                            {{pour.locationName}}-->
                            <br />
                            <small>{{pour.pourDate | amUtc | amLocal | amDateFormat:'MMMM Do YYYY'}}</small>
                        </div>
                        <div>
                            <pint-list count="pour.ounces" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
