<ion-view view-title="Edit Profile">
    <ion-content>
        <form name="profileForm" ng-submit="submit()" style="background: #fff;" ng-hide="enterToken">
            <div class="list">
                <p class="help-text item item-text-wrap text-center">Your phone number is used to allow friends to find you through their contacts. No SMS spam from Brewskey</p>
                <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                    <div class="form-errors" data-ng-show="profileForm.$submitted">
                        <div class="form-error" ng-bind="errors.generic"></div>
                    </div>
                </div>
                <div class="item-input" style="overflow: visible" ng-class="{ 'has-error' : profileForm.phoneNumber.$invalid || errors['model.PhoneNumber']}">
                  <input type="tel" ng-model="model.phoneNumber" ng-intl-tel-input data-initial-country="us" inputmode="numeric">
                </div>
                <div ng-if="!isSetup">
                    <div class="item item-divider"></div>
                    <label class="item item-input" ng-class="{ 'has-error' : profileForm.email.$invalid || errors['model.Email']}">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="model.email">
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Email']" data-ng-show="profileForm.$submitted" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Password']" data-ng-show="profileForm.$submitted" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <div class="item item-divider"></div>
                    <label class="item item-input" ng-class="{ 'has-error' : profileForm.oldPassword.$invalid || errors['model.OldPassword']}">
                        <span class="input-label">Old Password</span>
                        <input type="password" ng-model="model.oldPassword">
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.OldPassword'] track by $index" data-ng-show="profileForm.$submitted" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : profileForm.newPassword.$invalid || errors['model.NewPassword']}">
                        <span class="input-label">New Password</span>
                        <input type="password" ng-model="model.newPassword">
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.NewPassword'] track by $index" data-ng-show="profileForm.$submitted" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                </div>
                <div class="item item-divider"></div>
                <div class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="sending || !model.phoneNumber || !model.email">Update</button>
                    <button class="button button-block button-stable" type="button" ng-click="$parent.toggleForms()" ng-disabled="sending || !model.phoneNumber">Enter SMS Token</button>
                </div>
            </div>
        </form>
        <form name="tokenForm" ng-submit="sendToken()" style="background: #fff;" ng-show="enterToken">
            <div class="list">
                <div class="item text-center item-text-wrap">
                    Enter the token you recieved in a SMS message
                </div>
                <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                    <div class="form-errors" data-ng-show="tokenForm.$submitted">
                        <div class="form-error" ng-bind="errors.generic"></div>
                    </div>
                </div>
                <label class="item item-input" ng-class="{ 'has-error' : tokenForm.token.$invalid || errors['model.Token']}">
                    <span class="input-label">Token</span>
                    <input type="tel" placeholder="Enter Token" step="1" pattern="[0-9]*" inputmode="numeric" limit-to="6" ng-model="model.token"/>
                </label>
                <div class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="sending || !model.token || (model.token + '').length !== 6">Send Token</button>
                    <button class="button button-block button-stable" type="button" ng-click="$parent.toggleForms()">Cancel</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
