<div class="profile-photo-container square">
    <div class="square-content">
        <img
          brewskey-img
          class="profile-photo"
          id="userName"
          params="cachebust={{cache}}"
          type="photo"
          height="400"
          width="400"
          load-fail="img/blank-profile.png" />
        <div class="profile-photo-loading" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
        <a class="icon ion-camera profile-edit-button balanced" ng-click="selectPhoto()" ng-if="isUsersProfile" ng-cloak></a>
    </div>
</div>
