<ion-view view-title="Schedule">  
  <ion-content>

    <div class="padding text-center" ng-show="loading">
      <ion-spinner></ion-spinner>
    </div>
    <div class="list card" ng-show="!loading">
    	<div class="item">
			<h1>
				<span>{{ schedule.name }}</span>
				<a ui-sref="app.edit-schedule({scheduleId: schedule.id})" style="float:right;" ng-cloak>
					<span class="button button-positive button-small">
					  <i class="icon ion-edit"></i>
					</span>
				</a>
			</h1>
		</div>
    <div class="item">
      <div style="white-space: normal;">
        <strong>Days: </strong> {{ schedule.days}}
      </div>
      <div>
        <strong>From: </strong>{{ schedule.startTime }}
      </div>
      <div>
        <strong>To: </strong>{{ schedule.endTime }}
      </div>
    </div>
    <div class="item">
      <strong>For users: </strong>
      <div ng-if="schedule.accounts.length === 0">all</div>
      <div
        class="list card" 
        ng-if="schedule.accounts.length !== 0"
        style="margin-left: 0; margin-right: 0;"
      >		  		
        <a
          class="item item-avatar"
          ng-repeat="account in schedule.accounts | orderBy: 'userName'"       
        > 
          <img 
            brewskey-img
            id="account.userName"
            load-fail="img/blank-profile-40.png"
            size="s" 
            type="photo"       
          />         
          <h2>{{ account.userName }}</h2>
          <p>{{ account.email }}</p>          
        </a>
      </div>
    </div>
	</div>
  </ion-content>
</ion-view>
