<ion-view view-title="Settings">
    <ion-content>

        <ion-item ui-sref="app.profile-edit" class="item-icon-left">
          <i class="icon ion-edit"></i>
          Edit My Profile
        </ion-item>
        <div class="item item-divider"></div>
        <!--<ion-toggle ng-change="settingChange()" ng-model="settings.pushNotifications" toggle-class="toggle-calm">Push Notifications</ion-toggle>-->
        <ion-toggle ng-change="settingChange()" ng-model="settings.multiAuth" toggle-class="toggle-calm">Multi-Account Mode</ion-toggle>
        <ion-toggle ng-change="settingChange()" ng-model="settings.manageLocations" toggle-class="toggle-calm">Manage Taps</ion-toggle>
        <!--<ion-list>
            <ion-item href="#/app/settings/foo">
                Foo
            </ion-item>
            <ion-item href="#/app/settings/bar">
                Bar
            </ion-item>
        </ion-list>-->
        <div class="item item-divider"></div>
        <div class="item">
          <button ng-show="hasLogin('Facebook')" class="button button-block fb-button" type="button" ng-click="oauthAdd('Facebook')" ng-disabled="loading">
            Add Facebook Login
          </button>
          <button ng-repeat="login in userLogins" class="button button-block button-assertive" type="button" ng-click="oauthRemove(login.LoginProvider)" ng-disabled="loading">
            Remove {{login.LoginProvider}} Login
          </button>
        </div>
    </ion-content>
</ion-view>
