<ion-view view-title="Leaderboard">
    <ion-content>
        <div class="list">
            <div class="item sub-header">
                <h1>
                    <span ng-bind="tap.name"></span>
                    <a href="#/app/tap/{{tap.id}}/edit" style="float:right;" ng-if="canEdit" ng-cloak>
                        <span class="button button-positive">
                            <i class="icon ion-edit"></i>
                        </span>
                    </a>
                </h1>
            </div>
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Today</strong>
                </div>
                <div ng-repeat="pour in leaderboard" class="item">
                    <div class="leaderboard-info clearfix">
                        <div class="pull-left">
                            <strong class="leaderboard-rank pull-left">{{$index + 1}}.</strong>
                            <a ui-sref="app.profile({userName: pour.userName})">
                                <img class="default-profile-small leaderboard-profile-pic"
                                     ng-src="https://tappt.io/cdn/photos/{{pour.userName}}.jpg?w=50&h=50&mode=crop"
                                     load-fail="img/blank-profile-40.png" />
                            </a>
                        </div>
                        <div class="leaderboard-content">
                            <strong><a ui-sref="app.profile({userName: pour.userName})">{{pour.userName}}</a></strong>
                            &nbsp;&mdash;&nbsp;
                            {{translateToOunces(pour.totalPulses)}} oz
                            <br />
                            <span>Most recent </span><em am-time-ago="pour.lastPourDate" am-preprocess="utc"></em>
                        </div>
                    </div>
                    <pint-list count="pour.totalPulses" class="pint-list leaderboard-pint-list clearfix" />
                </div>
                <div class="item" ng-if="leaderboard && leaderboard.length === 0">
                    <h2>No pours today!</h2>
                </div>
            </div>
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Current Keg</strong>
                </div>
                <div ng-repeat="pour in kegLeaderboard" class="item">
                    <div class="leaderboard-info clearfix">
                        <div class="pull-left">
                            <strong class="leaderboard-rank pull-left">{{$index + 1}}.</strong>
                            <a ui-sref="app.profile({userName: pour.userName})">
                                <img class="default-profile-small leaderboard-profile-pic"
                                        ng-src="https://tappt.io/cdn/photos/{{pour.userName}}.jpg?w=50&h=50&mode=crop"
                                        load-fail="img/blank-profile-40.png" />
                            </a>
                        </div>
                        <div class="leaderboard-content">
                            <strong><a ui-sref="app.profile({userName: pour.userName})">{{pour.userName}}</a></strong>
                            &nbsp;&mdash;&nbsp;
                            {{translateToOunces(pour.totalPulses)}} oz
                            <br />
                            <span>Most recent </span><em am-time-ago="pour.lastPourDate" am-preprocess="utc"></em>
                        </div>
                    </div>
                    <pint-list count="pour.totalPulses" class="pint-list leaderboard-pint-list clearfix" />
                </div>
                <div class="item" ng-if="currentKeg && currentKeg.length === 0">
                    <h2>No pours!</h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
