<ion-view view-title="Tappt">
    <ion-tabs class="tabs-icon-top tabs-stable">
        <ion-tab title="Leaderboard" icon="ion-trophy" ui-sref="app.tap.leaderboard">
            <ion-nav-view name="leaderboard-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Info" icon="ion-information" ui-sref="app.tap.info">
            <ion-nav-view name="info-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Stats" icon="ion-podium" ui-sref="app.tap.stats">
            <ion-nav-view name="stats-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Edit" icon="ion-edit" ui-sref="app.tap.edit" ng-if="canEdit">
            <ion-nav-view name="edit-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
