<ion-view>
    <ion-nav-title>Stats - {{tap.name}}</ion-nav-title>
    <ion-content class="has-tabs">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item  no-color" ng-if="getKegPours.length">
                <pour-chart pours="getKegPours" class="item"></pour-chart>
            </div>
            <div class="item no-color">
                <div class="item">
                    <strong>{{percentLeft | number : 1}}% left</strong>
                    <div class="progress-bar" ng-style="{'width': percentLeft + '%'}">
                    </div>
                </div>
            </div>

            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Recent Pours</strong>
                </div>
                <div ng-repeat="pour in getPours">
                    <a ng-include src="'templates/section/stats-pour.html'"  ui-sref="app.profile({userName: pour.pouredBy})" class="item clearfix" ng-if="pour.pouredBy">
                    </a>
                    <div ng-include src="'templates/section/stats-pour.html'" class="item clearfix" ng-if="!pour.pouredBy">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
