<ion-view>
    <ion-nav-title>Tap Info</ion-nav-title>
    <ion-content class="has-tabs">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>On Tap</strong>
                </div>
                <div>
                    <ng-include src="'templates/beverage/_beverage.html'" />
                </div>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider" ng-if="tap.kegs.length">
                    Past Kegs
                </div>
                <div ng-repeat="keg in tap.kegs | orderBy:'-id'" class="item" ng-class="{'item-avatar': keg.loaded}">
                  <img
                    brewskey-img
                    id="keg.beverage.id"
                    size="s"
                    type="beverage"
                    width="40"
                    loaded="keg.loaded" />
                  <h2>{{keg.beerName}}</h2>
                  <p>{{kegTypes[keg.kegType]}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
