<ion-view>
    <ion-pane>
        <div class="padding text-center" style="margin-top: 60px" ng-if="!tap && !hasError">
            <ion-spinner></ion-spinner>
        </div>
        <!--<ion-tabs class="tabs-icon-top tabs-color-light tabs-background-brewskey" ng-if="tap">
            <ion-tab title="Info" icon="ion-information" ui-sref="app.tap.info">
                <ion-nav-view name="info-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Stats" icon="ion-podium" ui-sref="app.tap.stats" hidden="{{tap.hideStats && !canEdit}}">
                <ion-nav-view name="stats-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Leaderboard" icon="ion-trophy" ui-sref="app.tap.leaderboard" hidden="{{tap.hideLeaderboard}}">
                <ion-nav-view name="leaderboard-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Edit" icon="ion-edit" ui-sref="app.tap.edit" hidden="{{!canEdit}}">
                <ion-nav-view name="edit-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>-->
        <div ng-if="loaded && !hasError">
            <ion-nav-view name="tab-view"></ion-nav-view>
        </div>
        <div ng-if="loaded && hasError" style="margin-top: 60px">
            <div class="item text-center item-text-wrap">
                There was an error loading this tap or it may no longer exist.
            </div>
        </div>
        <div class="tabs tabs-icon-top tabs-color-light tabs-background-brewskey">
            <a class="tab-item" ui-sref="app.tap.info" ui-sref-opts="{location:'replace'}" ui-sref-active="active">
                <i class="icon ion-information"></i>
                Info
            </a>
            <a class="tab-item" ui-sref="app.tap.stats" ui-sref-opts="{location:'replace'}" ui-sref-active="active" ng-if="!tap.hideStats || canEdit">
                <i class="icon ion-podium"></i>
                Stats
            </a>
            <a class="tab-item" ui-sref="app.tap.leaderboard" ui-sref-opts="{location:'replace'}" ui-sref-active="active" ng-if="!tap.hideLeaderboard">
                <i class="icon ion-trophy"></i>
                Leaderboard
            </a>
            <a class="tab-item" ui-sref="app.tap.edit" ui-sref-opts="{location:'replace'}" ui-sref-active="active" ng-if="canEdit">
                <i class="icon ion-edit"></i>
                Edit
            </a>
        </div>
    </ion-pane>
</ion-view>
