<ion-view>
    <ion-nav-title>{{tap.name}}</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Today</strong>
                </div>
                <a ui-sref="app.profile({userName: pour.userName})" ng-repeat="pour in leaderboard" class="item">
                    <div class="leaderboard-info clearfix">
                        <div class="pull-left">
                            <strong class="leaderboard-rank pull-left">{{$index + 1}}.</strong>
                                <img class="default-profile-small leaderboard-profile-pic"
                                     ng-src="https://tappt.io/cdn/photos/{{pour.userName}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                                     load-fail="img/blank-profile-40.png" />
                        </div>
                        <div class="leaderboard-content">
                            <strong>{{pour.userName}}</strong>
                            &nbsp;&mdash;&nbsp;
                            {{translateToOunces(pour.totalPulses)}} oz
                            <br />
                            <span>Most recent </span><em am-time-ago="pour.lastPourDate" am-preprocess="utc"></em>
                        </div>
                    </div>
                    <pint-list count="pour.totalPulses" class="pint-list leaderboard-pint-list clearfix" />
                </a>
                <div class="item" ng-if="leaderboard && leaderboard.length === 0">
                    <h2>No pours today!</h2>
                </div>
            </div>
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Current Keg</strong>
                </div>
                <a ui-sref="app.profile({userName: pour.userName})" ng-repeat="pour in kegLeaderboard" class="item">
                    <div class="leaderboard-info clearfix">
                        <div class="pull-left">
                            <strong class="leaderboard-rank pull-left">{{$index + 1}}.</strong>
                            <img class="default-profile-small leaderboard-profile-pic"
                                 ng-src="https://tappt.io/cdn/photos/{{pour.userName}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                                 load-fail="img/blank-profile-40.png" />
                        </div>
                        <div class="leaderboard-content">
                            <strong>{{pour.userName}}</strong>
                            &nbsp;&mdash;&nbsp;
                            {{translateToOunces(pour.totalPulses)}} oz
                            <br />
                            <span>Most recent </span><em am-time-ago="pour.lastPourDate" am-preprocess="utc"></em>
                        </div>
                    </div>
                    <pint-list count="pour.totalPulses" class="pint-list leaderboard-pint-list clearfix" />
                </a>
                <div class="item" ng-if="currentKeg && currentKeg.length === 0">
                    <h2>No pours!</h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
