<ion-view>
    <ion-nav-title>Info - {{tap.name}}</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>On Tap</strong>
                </div>
                <div class="item center-text">
                    <h1>{{tap.currentKeg.beerName}}</h1>
                    <img ng-src="{{beer.labels.medium}}" ng-if="beer.labels.icon">
                </div>
                <div class="item">
                    <div class="row center-text">
                        <div class="col" ng-if="beer.abv">
                            <strong>ABV</strong><br /><span>{{beer.abv}}%</span>
                        </div>
                        <div class="col" ng-if="beer.ibu">
                            <strong>IBU</strong><br /><span ng-if="beer.ibu">{{beer.ibu}}</span>
                        </div>
                        <div class="col" ng-if="beer.srm">
                            <strong>SRM</strong><br /><span>{{beer.srm.name}}</span>
                        </div>
                        <div class="col" ng-if="beer.originalGravity">
                            <strong>OG</strong><br /><span ng-if="beer.originalGravity">{{beer.originalGravity}}</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col col-25"><strong>Name:</strong></div>
                        <div class="col col-75">{{beer.name}}</div>
                    </div>
                    <!--<div class="row">
                            <div class="col"><strong>Brewed By:</strong></div>
                            <div class="col col-75"></div>
                        </div>-->
                    <div class="row">
                        <div class="col col-25"><strong>Style:</strong></div>
                        <div class="col col-75">
                            <span>{{beer.style.name}}</span><br />
                            <!--<p class="help-text">{{beer.style.description}}</p>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-25"><strong>Available:</strong></div>
                        <div class="col col-75">{{beer.available.name}}</div>
                    </div>
                    <div class="row" ng-if="beer.servingTemperatureDisplay">
                        <div class="col col-25"><strong>Serving <i class="ion-thermometer"></i>:</strong></div>
                        <div class="col col-75">{{beer.servingTemperatureDisplay}}</div>
                    </div>

                    <div class="row">
                        <div class="col col-25"><strong>Organic:</strong></div>
                        <div class="col col-75">
                            <span ng-if="beer.isOrganic !== 'N'">Yes</span>
                            <span ng-if="beer.isOrganic === 'N'">No</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-25"><strong>Glass:</strong></div>
                        <div class="col col-75">{{beer.glass.name}}</div>
                    </div>
                </div>
                <div class="item item-body">
                    {{beer.description}}
                </div>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider" ng-if="tap.kegs.length">
                    Past Kegs
                </div>
                <div ng-repeat="keg in tap.kegs | orderBy:'-id'" class="item item-avatar">
                    <img ng-src="{{keg.beerIcon}}" />
                    <h2>{{keg.beerName}}</h2>
                    <p>{{kegTypes[keg.kegType]}}</p>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
