<ion-view>
    <ion-nav-title>Stats - {{tap.name}}</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item  no-color" ng-if="getKegPours.length">
                <pour-chart pours="getKegPours" class="item"></pour-chart>
            </div>
            <div class="item no-color">
                <div class="item">
                    <strong>{{percentLeft | number : 1}}% left</strong>
                    <div class="progress-bar" ng-style="{'width': percentLeft + '%'}">
                    </div>
                </div>
            </div>

            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Recent Pours</strong>
                </div>
                <a ui-sref="app.profile({userName: pour.pouredBy})" ng-repeat="pour in getPours" class="item clearfix">
                    <div class="pull-left">
                        <img class="default-profile-small leaderboard-profile-pic pull-left"
                             ng-src="https://brewskey.com/cdn/photos/{{pour.pouredBy}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                             load-fail="img/blank-profile-40.png" />
                        <div class="recent-pour-info">
                            <span ng-if="pour.pouredBy">
                                <strong>{{pour.pouredBy}}</strong>
                                &nbsp;&mdash;&nbsp;
                                {{normalize(pour.ounces)}} oz
                            </span>
                            <span ng-if="!pour.pouredBy">
                                {{normalize(pour.ounces)}} oz
                            </span>
                            <br />
                            <span am-time-ago="pour.pourDate | amUtc"></span>
                        </div>
                    </div>
                    <pint-list count="pour.ounces" class="pint-list pint-list-float pull-right" />
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
