<ion-view>
    <ion-nav-title>{{tap.name}}</ion-nav-title>
    <ion-content>
        <div class="list" ng-init="pours = getPours()">
            <div class="item  no-color">
                <pour-chart pours="getKegPours()" class="item"></pour-chart>
            </div>
            <div class="item no-color">
                <div class="item item-divider">
                    <strong>Recent Pours</strong>
                </div>
                <div ng-repeat="pour in pours" class="item">
                    <div class="clearfix">
                        <div class="pull-left">
                            <a ui-sref="app.profile({userName: pour.pouredBy})" class="pull-left">
                                <img class="default-profile-small leaderboard-profile-pic"
                                     ng-src="https://tappt.io/cdn/photos/{{pour.pouredBy}}.jpg?w=50&h=50&mode=crop&cache={{cacheBuster}}"
                                     load-fail="img/blank-profile-40.png" />
                            </a>
                            <div class="recent-pour-info">
                                <a ui-sref="app.profile({userName: pour.pouredBy})">
                                    <strong>{{pour.pouredBy}}</strong>
                                </a>
                                &nbsp;&mdash;&nbsp;
                                {{translateToOunces(pour.pulses)}} oz
                                <br />
                                <span am-time-ago="pour.pourDate" am-preprocess="utc"></span>
                            </div>
                        </div>
                        <pint-list count="pour.pulses" class="pint-list pint-list-float pull-right" />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
