{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "jsx-a11y",
    "prettier",
    "react-native",
    "react",
    "sorting"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "flowtype/generic-spacing": 0,
    "import/first": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "react-native/no-color-literals": 0,
    "react/default-props-match-prop-types": 0,
    "react/display-name": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "sorting/sort-object-props": [
      2,
      {
        "ignoreCase": true,
        "ignoreMethods": false
      }
    ]
  }
}
