{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "jsx-a11y",
    "prettier",
    "react-native",
    "react",
    "sorting"
  ],
  "rules": {
    "flowtype/generic-spacing": 0,
    "react/prop-types": 0,
    "sorting/sort-object-props": [
      2,
      {
        "ignoreCase": true,
        "ignoreMethods": false
      }
    ]
  }
}
