<button 
  class="button button-block button-positive"
  ng-click="openModal()"
  ng-disabled="isDisabled"
  type="button"
>
  select accounts
</button>
<button
  class="button button-block button-energized"
  ng-click="resetAccounts()"
  ng-disabled="isDisabled"
  ng-show="accounts && accounts.length"
  type="button"
>
  reset accounts
</button>
<div 
  class="list"
  ng-show="accounts && accounts.length"
>
  <a
    class="item item-avatar"
    ng-repeat="account in accounts"        
  >
    <img 
      brewskey-img
      id="account.userName"
      load-fail="img/blank-profile-40.png"
      size="s" 
      type="photo"
    />       
    <h2>{{ account.userName }}</h2>
    <p>{{ account.email }}</p>   
  </a>
</div>