<div class="pick-box">
  <button 
    class="button button-clear button-small button-dark"        
    ng-click="addHours(1)"
    type="button" 
  >
    <i class="icon ion-chevron-up"></i>
  </button>
  <div class="text-box">{{ hours }}</div>
  <button 
    class="button button-clear button-small button-dark"
    ng-click="addHours(-1)"
    type="button" 
  >
    <i class="icon ion-chevron-down"></i>
  </button>
</div>   
:    
<div class="pick-box">
  <button 
    class="button button-clear button-small button-dark"        
    ng-click="addMinutes(5)"
    type="button" 
  >
    <i class="icon ion-chevron-up"></i>
  </button>
  <div class="text-box">{{ minutes }}</div>
  <button 
    class="button button-clear button-small button-dark"
    ng-click="addMinutes(-5)"
    type="button" 
  >
    <i class="icon ion-chevron-down"></i>
  </button>
</div>
<div class="pick-box">
  <button 
    class="button button-clear button-small button-dark"        
    ng-click="changeAffix('pm')"
    type="button" 
  >
    <i class="icon ion-chevron-up"></i>
  </button>
  <div class="text-box">{{ affix }}</div>
  <button 
    class="button button-clear button-small button-dark"
    ng-click="changeAffix('am')"
    type="button" 
  >
    <i class="icon ion-chevron-down"></i>
  </button>
</div>