<ion-modal-view>
    <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <!-- todo figure out why jus seachQuery doesn't fire watch after
              initialization-->
            <input
              ng-model="$parent.$parent.searchQuery"
              ng-model-options="{debounce: 750}"
              type="search"
              placeholder="Search"
            >
        </label>
        <button class="button button-stable" ng-click="closeModal()">
          Ok
        </button>
    </ion-header-bar>
    <ion-content class="padding">   
        <div class="padding text-center" ng-show="loading">
          <ion-spinner></ion-spinner>
        </div>
        <div 
          class="list"
          ng-show="searchAccounts && searchAccounts.length"
        >
          <a 
            class="item item-avatar" 
            ng-class="{'list-item-selected': account.selected}"
            ng-repeat="account in searchAccounts"
            ng-click="toggleAccount($index)"
          >
            <img 
              brewskey-img
              id="account.userName"
              size="s" 
              type="photo"            
              loaded="tap.loaded"
              load-fail="img/blank-profile-40.png"
            />       
            <h2>{{ account.userName }}</h2>
            <p>{{ account.email }}</p>
          </a>
        </div>
        <div class="list" ng-show="!accounts || !accounts.length || !searchQuery">
            <h3 class="text-center">
              Type to search users by name or email.
            </h3>
        </div>  
    </ion-content>
</ion-modal-view>