<form ng-init="init()">
  <div class="totp-timer">
    <div class="totp-timer__seconds">
      {{currentSeconds}}
    </div>
    <!-- https://codepen.io/xgad/post/svg-radial-progress-meters -->
    <svg class="totp-timer__container" width="80" height="80" viewBox="0 0 80 80">
        <circle class="totp-timer__meter" cx="40" cy="40" r="36" stroke-width="8" />
        <circle class="totp-timer__value" cx="40" cy="40" r="36" stroke-width="8" />
    </svg>
  </div>
  <div class="item item-input-inset no-color totp" style="padding-top: 0px;">
      <label class="item-input-wrapper list-colored">
          <input type="number" placeholder="Pass code" step="1" pattern="[0-9]*" inputmode="numeric" ng-keyup="$parent.checkTotp($event)" limit-to="6"  />
      </label>
      <button class="button button-small" ng-click="$parent.submitTotp(totp)" ng-disabled="$parent.isDisabled()">
          Submit
      </button>
  </div>
</form>
