<div class="pull-left">
     <img
       brewskey-img
       class="default-profile-small leaderboard-profile-pic pull-left"
       id="pour.pouredBy"
       type="photo"
       height="50"
       width="50"
       load-fail="img/blank-profile-40.png" />
    <div class="recent-pour-info">
        <span ng-if="pour.pouredBy">
            <strong>{{pour.pouredBy}}</strong>
            &nbsp;&mdash;&nbsp;
            {{normalize(pour.ounces)}} oz
        </span>
        <span ng-if="!pour.pouredBy">
            {{normalize(pour.ounces)}} oz
        </span>
        <br />
        <time ng-bind="timeAgo(pour.pourDate)"></time>
    </div>
</div>
<pint-list count="pour.ounces" class="pint-list pint-list-float pull-right" />
