<ion-view view-title="Homebrew">
    <ion-content>
        <div class="list">
            <div class="item no-color">
                <a ui-sref="app.new-homebrew" class="item item-button-right">
                    New Homebrew
                    <span class="button button-positive">
                        <i class="icon ion-plus"></i>
                    </span>
                </a>
                <!-- Location ngRepeat goes here -->
                <div class="item item-divider"></div>
                <div class="item text-center" ng-show="loading">
                    <ion-spinner></ion-spinner>
                </div>
                <div ng-show="!loading">
                    <a ng-repeat="beverage in beverages | orderBy: 'name'" ui-sref="app.homebrew-details({beverageId: beverage.id})" class="item">
                        {{beverage.name}}
                        <p ng-bind="beverage.description"></p>
                    </a>
                    <div ng-if="!beverages || !beverages.length" class="item text-center item-text-wrap">
                        You haven't added any beverages yet.<br />Click the "+" to add one.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
