<ion-view view-title="Brewskey">
    <ion-nav-title>{{!model.id ? "New Beverage" : "Edit Beverage"}}</ion-nav-title>
    <ion-content>
        <div class="padding text-center" style="margin-top: 20px" ng-if="!model">
            <ion-spinner></ion-spinner>
        </div>
        <form name="form" ng-submit="submitForm(form)" novalidate ng-if="model">
            <div class="list">
                <div class="list list-inset">
                    <div class="item no-padding item-text-wrap text-center" ng-if="errors.generic" ng-cloak>
                        <div class="form-errors" data-ng-show="form.$submitted">
                            <div class="form-error" ng-bind="errors.generic"></div>
                        </div>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Name']}">
                        <input type="text" ng-model="model.name" placeholder="Name" required>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Name']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Description']}">
                        <textarea ng-model="model.description" placeholder="Description"></textarea>
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.Description']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Beverage Type
                        </span>
                        <select ng-model="model.beverageType"
                                required
                                ng-options="obj.value as obj.name for obj in beverageTypes | orderBy: 'name'"></select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Availability
                        </span>
                        <select ng-model="model.availableId"
                                ng-options="obj.id as obj.name for obj in availabilities | orderBy: 'name'"></select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Serving Temperature
                        </span>
                        <select ng-model="model.servingTemperature"
                                required
                                ng-options="obj.value as obj.name for obj in servingTemperatures"></select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Glass
                        </span>
                        <select ng-model="model.glasswareId"
                                ng-options="obj.id as obj.name for obj in glasses | orderBy: 'name'"></select>
                    </label>
                    <div class="item item-toggle">
                        Is Organic
                        <label class="toggle">
                            <input type="checkbox" ng-model="model.isOrganic">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Year
                        </span>
                        <select ng-model="model.year"
                                required
                                ng-options="year for year in years"></select>
                    </label>

                    <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.FoodPairings']}">
                        <input type="text" ng-model="model.foodPairings" placeholder="Food Parings">
                    </label>
                    <div class="form-errors" data-ng-repeat="error in errors['model.FoodPairings']" data-ng-cloak>
                        <div class="form-error" ng-bind="error"></div>
                    </div>

                    <div ng-if="model.beverageType === 0">
                        <div class="item item-divider"></div>
                        <div class="item item-text-wrap text-center">
                            <p>
                                <strong>Set Beer Color (SRM)</strong>
                            </p>
                            <br />
                            <div class="item range" ng-style="getBeerColor()">
                                <input type="range" name="model.srmId" min="1" max="41" value="0" ng-model="model.srmId">
                            </div>
                        </div>
                        <label class="item item-input item-select">
                            <span class="input-label">
                                Style
                            </span>
                            <select ng-model="model.styleId"
                                    ng-options="obj.id as obj.name for obj in styles | orderBy: 'name'"></select>
                        </label>
                        <!--
        <label class="item item-input item-select">
            <span class="input-label">
                Color
            </span>
            <select ng-model="model.srmId"
                    ng-options="obj.id as obj.name for obj in srms | orderBy: 'name'"></select>
        </label>
            -->

                        <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Abv']}">
                            <input type="number" ng-model="model.abv" placeholder="ABV">
                        </label>
                        <div class="form-errors" data-ng-repeat="error in errors['model.Abv']" data-ng-cloak>
                            <div class="form-error" ng-bind="error"></div>
                        </div>

                        <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.OriginalGravity']}">
                            <input type="number" ng-model="model.originalGravity" placeholder="Original Gravity">
                        </label>
                        <div class="form-errors" data-ng-repeat="error in errors['model.OriginalGravity']" data-ng-cloak>
                            <div class="form-error" ng-bind="error"></div>
                        </div>

                        <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid || errors['model.Ibu']}">
                            <input type="number" ng-model="model.ibu" placeholder="IBU">
                        </label>
                        <div class="form-errors" data-ng-repeat="error in errors['model.Ibu']" data-ng-cloak>
                            <div class="form-error" ng-bind="error"></div>
                        </div>
                        <div class="item item-divider"></div>
                    </div>
                    <div class="item">
                        <button class="button button-block button-positive" type="submit" ng-disabled="!form.$dirty || form.$invalid || sending">
                            <span ng-if="!model.id">Create Beverage</span>
                            <span ng-if="model.id">Update Beverage</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
