<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brewskey.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>82C3A080549A8CB623DB54E5A51C3AE4A28BA389</string>
				<key>dateExpires</key>
				<string>12/16/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82C3A080549A8CB623DB54E5A51C3AE4A28BA389</string>
						<key>dateExpires</key>
						<string>12/16/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K3J4CQMPRF</string>
						<key>name</key>
						<string>Tappt LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K3J4CQMPRF.com.brewskey.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>NDEF</string>
					<string>TAG</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>K3J4CQMPRF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Brewskey.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30b0e1c8-4c29-4a86-99a1-ad4960df6a39</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.brewskey.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K3J4CQMPRF</string>
				<key>name</key>
				<string>Tappt LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
