/* Empty. Add your own CSS if you like */
.pane, .view {
    background: rgba(146,153,191,1);
    background: -moz-linear-gradient(-45deg, rgba(146,153,191,1) 0%, rgba(1,33,96,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(146,153,191,1)), color-stop(100%, rgba(1,33,96,1)));
    background: -webkit-linear-gradient(-45deg, rgba(146,153,191,1) 0%, rgba(1,33,96,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(146,153,191,1) 0%, rgba(1,33,96,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(146,153,191,1) 0%, rgba(1,33,96,1) 100%);
    background: linear-gradient(135deg, rgba(146,153,191,1) 0%, rgba(1,33,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9299bf', endColorstr='#012160', GradientType=1 );
}
a, a:visited {
    color: #000;
}

.sub-header {
    margin: 8px 16px 0;
    padding: 0 8px;
}

.item a,
.item a:visited {
    color: #444;
}

.item-selected {
    background: #eee;
}

.no-color {
    background: transparent;
    border-color: transparent;
}

.leaderboard-info {
    margin-right: 20px;
}
.leaderboard-pint-list {
    padding-left: 30px;
}
.pint-list {
    display: block;
}
.pint-glass {
    display: inline-block;
    height: 40px;
    float: left;
    margin: 5px 5px 0 0;
    position: relative;
    width: 23px;
}
    .pint-glass .beer {
        background: url('../img/beer.png') 0 100% no-repeat;
        bottom: 3px;
        height: 100%;
        position: absolute;
        width: 100%;
    }
 
    .pint-glass .pint {
        background: url('../img/empty-glass.png') no-repeat;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .too-many-pints {
        font-size: 18px;
        padding-top: 15px;
        position: relative;
    }
        .too-many-pints .pint-glass {
            bottom: -10px;
            position: absolute;
        }
    .too-many-pints-count {
        padding: 0 16px 0 26px;
    }

.profile-link,
h2.profile-link {
    font-size: 20px;
}
.profile-photo-container {
    background: #e7e6e4;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;       
}
.profile-edit-button {
    background: #ddd;
    border: solid 2px #7B7B7B;
    border-radius: 4px;
    color: #7B7B7B !important;
    font-size: 36px;
    padding: 3px 7px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.profile-photo {
    width: 100%;
}
.selected-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.default-profile-small {
    background: url('../img/blank-profile-40.png') center no-repeat;
    background-size: cover;
    border-radius: 4px;
    height: 50px;
    width: 50px;
}

.achievement-popup .popup-head {
    display: none;
}
.achievement-popup .popup-body {
    overflow: hidden;
}
.achievement {
    border-radius: 50%;
}
.achievement-icon-container {
    position: relative;
}
.achievement-icon-container > img {
    position: relative;
    vertical-align: middle;
}
.achievement-button {
    border: 0;
    font-size: 35px;
    margin: -61px 0 0;
    max-height: initial;
    min-height: initial;
    min-width: initial;
    padding: 40px 0;
    position: absolute;
    top: 50%;
    vertical-align: middle;
}
    .achievement-button.achievement-button-left {
        left: 0;
        padding-right: 18px;
    }
    .achievement-button.achievement-button-right {
        padding-left: 18px;
        right: 0;
    }
.achievement-small {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.achievement-large {
    width: 150px;
    height: 150px;
}

.square {
	position: relative;
}
.square:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.square-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.home-story-info {
    padding-left: 65px;
}

.leaderboard-rank {
    width: 25px;
    text-align: right;
}
.leaderboard-profile-pic {
    margin-left: 5px;
}
.leaderboard-content {
    padding-left: 88px;
}

/* stats */
.recent-pour-info {
    padding-left: 65px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}