/* Empty. Add your own CSS if you like */
.leaderboard-info {
    margin-right: 20px;
}
.pint-glass {
    display: inline-block;
    height: 40px;
    margin-right: 5px;
    position: relative;
    width: 23px;
}
    .pint-glass .beer {
        background: url('../img/beer.png') 0 100% no-repeat;
        bottom: 3px;
        height: 100%;
        position: absolute;
        width: 100%;
    }
 
    .pint-glass .pint {
        background: url('../img/empty-glass.png') no-repeat;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}